.blink {
    background:url("../images/watch.png.webp") no-repeat center right;
    min-height: 800px;
    animation: zoomInOut 8s linear infinite;
}
@keyframes zoomInOut {
    0% {
        background-size: 59%;
    }
    50% {
        background-size: 67% ;
    }
    100%{
        background-size:59% ;
    }
}
.text {
    animation: moveText 15s ease-in-out infinite;
    opacity: 0; /* Hide text initially */
}
@keyframes moveText {
    0%, 100% {
        transform: translateX(-100%);
        opacity: 0;
    }
    10%, 90% {
        transform: translateX(0);
        opacity: 1;
    }
    20%, 80% {
        transform: translateX(0);
        opacity: 1;
    }
}
.hover-text {
    color:gray;
    transition: all 0.5s ease;
    cursor:pointer;
}
.hover-text:hover {
    color:red;
    transform: translateX(5px);
}
.icon{
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
}
.icon:hover {
    color: #e74c3c;
    transform: scaleX(1) rotate(360deg);
}
.image-box {
    overflow: hidden;
    transition: transform 0.3s ease;
}
.image-box img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    transition: transform 0.7s ease;
}
.image-box:hover {
    transform: scale(1);
}
.image-box:hover img {
    transform: scale(1.1);
}