@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
 @import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

/*
font-family: 'Vollkorn', serif;
*/
.font{
    font-family: 'Vollkorn', serif;
}
.fs1{
    font-size:90px;
}
.bg1{
    background: url(../images/gallery1.png.webp) no-repeat;
    height: 690px;
    background-size: cover;
}
.bg2{
    background: url(../images/gallery2.png.webp) no-repeat;
    height: 690px;
    background-size: cover;
}
.bg3{
    background: url(../images/gallery3.png.webp) no-repeat;
    height: 333px;
    background-size: cover;
}
.bg4{
    background: url(../images/gallery4.png.webp) no-repeat;
    height: 333px;
    background-size: cover;
}
.blink {
    background:url("../images/watch.png.webp") no-repeat center right;
    min-height: 800px;
    animation: zoomInOut 8s linear infinite;
}
@keyframes zoomInOut {
    0% {
        background-size: 59%;
    }
    50% {
        background-size: 67% ;
    }
    100%{
        background-size:59% ;
    }
}
.text {
    animation: moveText 15s ease-in-out infinite;
    opacity: 0; /* Hide text initially */
}
@keyframes moveText {
    0%, 100% {
        transform: translateX(-100%);
        opacity: 0;
    }
    10%, 90% {
        transform: translateX(0);
        opacity: 1;
    }
    20%, 80% {
        transform: translateX(0);
        opacity: 1;
    }
}
/* .img {
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.img:hover{
    transform: scale(1.05);
} */
.back{
    background: url(../images/sectin_bg1.png.webp) no-repeat;
    background-size:cover;
    min-height:600px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    display: none;
    position: absolute;
    border-top: solid 10px red;
}
.dropdown-menu a:hover {
    background-color: #e8e1e1;
}

